<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
        	<img src="/img/spring_logo.png" alt="" width="100" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn btn-md btn-outline-secondary" sec:authorize="isAnonymous()"  th:href="@{/user/login}">로그인</a>
                    <a class="btn btn-md btn-outline-secondary" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-md btn-outline-secondary" th:href="@{/user/signup}">회원가입</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>

</script>



<!--th:href 앞쪽에 onclick="window.open('/user/login','window_name','width=430,height=500,location=no,status=no,scrollbars=yes');"  넣어주면 팝업창 가능-->